.index-wrapper(du-scroll-container)
	.info
		a(href="#/info")
			img(src="img/info-button.svg")

	
	//- SUSHI BORDERS
	.border--right.bg--01
	.border--left.bg--02
	.border--bottom.bg--03(shrink)

	div(id="player", ng-class="{stack: videoPlaying}")
	.player-exit(ng-show="videoPlaying", ng-click="closePlayer()")


	.player-frame(ng-repeat="episode in sushi.fields.episodes", 
		ng-show="!videoPlaying", 
		style="background-image:url({{episode.fields.image.fields.file.url}})",
		ng-if="!$last", id="{{$index}}")
		

		.title-wrapper(ng-show="!videoPlaying")
			.title
			.play-button(ng-click="playVideo(episode.fields.brightcoveId)")
			.episode-title
				img(ng-src="{{episode.fields.artistTextImage.fields.file.url}}")
			.next-episode
				a(ng-href="#{{$index + 1}}", du-smooth-scroll)
					img(ng-src="{{episode.fields.nextArtistTextImage.fields.file.url}}")
		


	


	.player-frame(ng-repeat="episode in sushi.fields.episodes", 
		ng-show="!videoPlaying",
		style="background-image:url({{episode.fields.image.fields.file.url}})",
		ng-if="$last", id="{{$index}}")
		
		.title-wrapper(ng-show="!videoPlaying")
			.prev-episode
				a(ng-href="#{{$index - 1}}", du-smooth-scroll)
					img(ng-src="{{episode.fields.nextArtistTextImage.fields.file.url}}")
			.title.last
			.play-button.last(ng-click="playVideo(episode.fields.brightcoveId)")
			.episode-title.last
				img(ng-src="{{episode.fields.artistTextImage.fields.file.url}}")







	